<h1 class="text-center">About Us</h1>
<div class="container">
    <div class="row">
        <div class="col-4 text-center">
            <img src="assets/Yohan.png">
            <p>Yohan Kurnia Wijaya<br>00000042606</p>
        </div>
        <div class="col-4 text-center">
            <img src="assets/Yonas.png">
            <p>Yonas Kurnia Wijaya<br>00000042669</p>
        </div>
        <div class="col-4 text-center">
            <img src="assets/Vincent.png">
            <p>Vincent Jonanthan<br>00000047831</p>
        </div>
    </div>
</div>
