<div class="container bg-info p-2">
    <h1 class="text-center">DATA COVID INDONESIA</h1>
    <div class="row d-flex justify-content-around m-4">
        <button class="btn btn-light col-2" routerLink="">Data Total</button>
        <button class="btn btn-light col-2" routerLink="/harian">Data Harian</button>
        <button class="btn btn-light col-2" routerLink="/provinsi">Data Per Provinsi</button>
        <button class="btn btn-light col-2" routerLink="/aboutus">About Us</button>
    </div>
</div>
<div class="m-4"></div>
<div class="container bg-light p-2">
    <router-outlet></router-outlet>
</div>